*.pyc
*.npz
*.so
assignment2/cs231n/build/
assignment2/cs231n/im2col_cython.c
assignment2/cs231n/__pycache__/
assignment2/cs231n/datasets/cifar-10-batches-py/
assignment1/cs231n/datasets/cifar-10-batches-py/



